@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Playfair Display SC";
}

.header {
  border-bottom-width: 0.1px;
}

.slider-container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.slider {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  height: 10px;
  border-radius: 5px;
  background: linear-gradient(to right, #00ff08 0%, #ff9900 50%, #ff1100 100%);
  outline: none;
  opacity: 0.7;
  transition: opacity 0.15s ease-in-out;
  margin: 20px 0;
}

.slider.easy::-webkit-slider-thumb {
  background-color: #00ff08; /* Green thumb color for Easy */
}

.slider.medium::-webkit-slider-thumb {
  background-color: #ff9800; /* Orange thumb color for Medium */
}

.slider.hard::-webkit-slider-thumb {
  background-color: #ff1100; /* Red thumb color for Hard */
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}

.slider-labels {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.sliderNum::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px; /* Larger thumb width */
  height: 30px; /* Larger thumb height */
  border-radius: 50%;
  background: #000; /* Black thumb */
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Slider thumb styling for Firefox */
.sliderNum::-moz-range-thumb {
  width: 30px; /* Larger thumb width */
  height: 30px; /* Larger thumb height */
  border-radius: 50%;
  background: #000; /* Black thumb */
  cursor: pointer;
  transition: background-color 0.3s;
}

/* General slider styling */
.sliderNum {
  width: 80%;
  -webkit-appearance: none;
  appearance: none;
  height: 15px;
  border-radius: 10px;
  background: gray;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.15s ease-in-out;
  margin: 10px 0;
}

.sliderNum:hover {
  opacity: 1;
}

.box {
  border: 1.2px solid #0000;
  border-radius: 50px;
  background: linear-gradient(rgb(20, 20, 20), rgb(32, 32, 32)) padding-box, linear-gradient(
        var(--angle),
        #4a4a4a,
        #464646,
        #414040,
        rgb(192, 132, 252),
        rgb(192 132 252)
      ) border-box;
  animation: 6s rotate linear infinite;
}

.box2 {
  border: 1px solid #0000;
  border-radius: 1000px;
  background: linear-gradient(#282828, #282828) padding-box, linear-gradient(
        var(--angle),
        #fccdff74,
        #c068ff67
      ) border-box;
  animation: 5s rotate infinite;
}

.boxJS {
  border: 0.5px solid #0000;
  border-radius: 10px;
  background: linear-gradient(#000000, #000000) padding-box, linear-gradient(
        var(--angle),
        #fffb00c0,
        #ffffff00
      ) border-box;
  animation: 5s rotate linear infinite;
}

.boxReact {
  border: 0.5px solid #0000;
  border-radius: 10px;
  background: linear-gradient(#000000, #000000) padding-box, linear-gradient(
        var(--angle),
        #00b3ffc0,
        #ffffff00
      ) border-box;
  animation: 5s rotate linear infinite;
}

.boxVite {
  border: 0.5px solid #0000;
  border-radius: 10px;
  background: linear-gradient(#000000, #000000) padding-box, linear-gradient(
        var(--angle),
        #c300ffc0,
        #fffb00c0,
        #ffffff00
      ) border-box;
  animation: 5s rotate linear infinite;
}

.boxNode {
  border: 0.5px solid #0000;
  border-radius: 10px;
  background: linear-gradient(#000000, #000000) padding-box, linear-gradient(
        var(--angle),
        #09ff00c0,
        #ffffff00
      ) border-box;
  animation: 5s rotate linear infinite;
}

.boxTailwind {
  border: 0.5px solid #0000;
  border-radius: 10px;
  background: linear-gradient(#000000, #000000) padding-box, linear-gradient(
        var(--angle),
        #00ccffc0,
        #ffffff00
      ) border-box;
  animation: 5s rotate linear infinite;
}

.boxExpress {
  border: 0.5px solid #0000;
  border-radius: 10px;
  background: linear-gradient(#000000, #000000) padding-box, linear-gradient(
        var(--angle),
        #bf00ffc0,
        #00c8ffc0,
        #ffffff00
      ) border-box;
  animation: 5s rotate linear infinite;
}

.boxSupabase {
  border: 0.5px solid #0000;
  border-radius: 10px;
  background: linear-gradient(#000000, #000000) padding-box, linear-gradient(
        var(--angle),
        #0aa41ac0,
        #ffffff00
      ) border-box;
  animation: 5s rotate linear infinite;
}

.boxNpm {
  border: 0.5px solid #0000;
  border-radius: 10px;
  background: linear-gradient(#000000, #000000) padding-box, linear-gradient(
        var(--angle),
        #ff0000c0,
        #ffffff00
      ) border-box;
  animation: 5s rotate linear infinite;
}

.boxNpm {
  border: 0.5px solid #0000;
  border-radius: 10px;
  background: linear-gradient(#000000, #000000) padding-box, linear-gradient(
        var(--angle),
        #ff0000c0,
        #ffffff00
      ) border-box;
  animation: 5s rotate linear infinite;
}

.boxNpm {
  border: 0.5px solid #0000;
  border-radius: 10px;
  background: linear-gradient(#000000, #000000) padding-box, linear-gradient(
        var(--angle),
        #ff0000c0,
        #ffffff00
      ) border-box;
  animation: 5s rotate linear infinite;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
