@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: white;
}

.header {
  border-bottom-width: 0.1px;
}

.log-in-container {
  width: 600px;
  height: auto;
}

.log-in-button {
  border-color: #26A300;
}

.rbc-off-range-bg {
  background-color: rgba(128, 128, 128, 0.103);
}
