.rbc-off-range-bg {
    background-color: transparent;
  }
  
  .rbc-event-content {
    background-color: transparent;
    text-align: center;
  }
  
  .rbc-date-cell {
    text-align: center;
    font-size: small;
  }
  
  .rbc-toolbar {
    border: 2px rgba(172, 171, 171, 0.241) solid;
    background-color: gray;
    padding: 4px;
    border-radius: 8px;
  }
  
  .rbc-toolbar .rbc-toolbar-label {
    text-align: right;
    flex-grow: 1;
    background-color: transparent;
    color: white;
    font-size: x-large;
  }

  .rbc-today {
    background-color: rgb(211, 210, 210);
  }
  
  .rbc-btn-group  {
    background-color: gray;
  }
  .rbc-btn-group > button {
    background-color: white;
    border: 1px rgba(172, 171, 171, 0.047) solid;
    border-radius: 6px;
    margin: 5px;
  }

  .rbc-event:hover {
    filter: brightness(1.2);
  }
  
  .rbc-row-content {
    color: black !important;
  }

  .rbc-month-view {
    border: none;
  }